<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1044405345876-usm7dai4kf7ht5sfj8lrghoh99o0jdr1.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1044405345876-usm7dai4kf7ht5sfj8lrghoh99o0jdr1</string>
	<key>API_KEY</key>
	<string>AIzaSyBrEdMMia7P2-6AgaiAUSuHLOexT0NIE5g</string>
	<key>GCM_SENDER_ID</key>
	<string>1044405345876</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.animecalendar</string>
	<key>PROJECT_ID</key>
	<string>animecalendar-931d7</string>
	<key>STORAGE_BUCKET</key>
	<string>animecalendar-931d7.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1044405345876:ios:0fe29a1b279b0922eb97c1</string>
</dict>
</plist>